{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap %}

{% block style_0 %}
    <link href='{% static 'css/bootstrap.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block style %}
    <link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet" media="all" />
    <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/checkout.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
    <script type="text/javascript">
        var fullPrice      = {{ full_price }};
        var abridgedPrice  = {{ abridged_price }};
        var digitalPrice   = {{ digital_price }};
        var shippingPrice  = {{ shipping_price }};
        var caTaxRate      = {{ ca_tax_rate }};

        $(document).ready(function() {
            Stripe.setPublishableKey("{{ STRIPE_PUBLISHABLE_KEY }}");

            {% if not order_full and not order_abridged %}
                $('#id_digital_upgrade').val('1');
            {% endif %}
            updateTaxAndTotal();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="navbar" style="margin-top:10px">
            <div class="navbar-inner inner_small_right">
                <a class="brand" style="padding-top:4px;"id="brand_small" href="#">
                    <img src="{% static 'img/logo_new1.png' %}" width="90"></a>
            </div>
        </div>

        {% if error_message %}
            <div class="alert alert-error">{{ error_message }}</div>
        {% endif %}

        <div class="row">
            <div class="span12">
                <h2 style="text-align:left">Checkout</h2>
                <h4 style="text-align:left">Order Summary</h4>
            </div>

            <form id="orderForm" method="post" action="">
                {% csrf_token %}
                {{ order_form.stripe_single_use_token }}
                {{ order_form.digital_upgrade }}
                {{ order_form.full_quantity }}
                {{ order_form.abridged_quantity }}
                {{ order_form.charged_total }}

                {% if order_full %}
                    <div class="span7">
                        <h5 class="desc">
                            <select class="qtySelect" id="fullQty" name="full_qty">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select> 8X11 Full Version Hardcover </h5>
                        <h5 class="price">$<span id="fullTotal">{{ full_price }}</span></h5>
                    </div>
                {% elif order_abridged %}
                    <div class="span7">
                        <h5 class="desc">
                            <select class="qtySelect" id="abridgedQty" name="abridged_qty">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select> 8X11 Abridged Hardcover </h5>
                        <h5 class="price">$<span id="abridgedTotal">{{ abridged_price }}</span></h5>
                    </div>
                {% else %}
                    <div class="span7">
                        <h5 class="desc">Digital Upgrade: Editable, Savable Version</h5>
                        <h5 class="price">$<span id="digitalTotal">{{ digital_price }}</span></h5>
                    </div>
                {% endif %}

                {% if order_full or order_abridged %}
                    <div class="span7">
                        <h5 class="desc">Shipping</h5>
                        <h5 class="price">$<span id="shippingTotal">{{ shipping_price }}</span></h5>
                    </div>
                    <div class="span7 taxSubtotalDiv">
                        <h5 class="desc">CA Online Sales Tax</h5>
                        <h5 class="price">$<span id="taxTotal">8.99</span></h5>
                    </div>
                {% endif %}
                <div class="span7" style="border-top:solid 2px lightgray; margin-top:4px">
                    <h5 class="desc">Total</h5>
                    <h5 class="price">$<span id="orderTotal">8.99</span></h5>
                </div>


                <div class="span7">
                    <h4 style="text-align:left">Billing Address</h4>
                    <fieldset>
                        {% field_with_label billing_address_form.billing_address %}
                        {% field_with_label billing_address_form.billing_address2 %}
                        {% field_with_label billing_address_form.billing_country %}
                        <div class="usStateDiv">
                            {% field_with_label billing_address_form.billing_us_state %}
                        </div>
                        <div class="nonUsStateDiv" style="display:none;">
                            {% field_with_label billing_address_form.billing_state_province %}
                        </div>
                        {% field_with_label billing_address_form.billing_city %}
                        <div class="usStateDiv">
                            {% field_with_label billing_address_form.billing_us_zip %}
                        </div>
                        <div class="nonUsStateDiv" style="display:none;">
                            {% field_with_label billing_address_form.billing_postal %}
                        </div>
                    </fieldset>
                </div>

                <div class="span7">
                    <h4 style="text-align:left">Shipping Address</h4>
                    <label class="radio inline">
                        <input type="radio" class="sameShipping" name="same_shipping" value="same" checked="checked">Same as billing</label>
                    <label class="radio inline">
                        <input type="radio" class="sameShipping" name="same_shipping" value="diff">Enter new shipping address</label>
                </div>

                <div class="span7 shippingForm" style="display:none;">
                    <fieldset>
                        {% field_with_label shipping_address_form.shipping_address %}
                        {% field_with_label shipping_address_form.shipping_address2 %}
                        {% field_with_label shipping_address_form.shipping_country %}
                        <div class="usStateDiv">
                            {% field_with_label shipping_address_form.shipping_us_state %}
                        </div>
                        <div class="nonUsStateDiv" style="display:none;">
                            {% field_with_label shipping_address_form.shipping_state_province %}
                        </div>
                        {% field_with_label shipping_address_form.shipping_city %}
                        <div class="usStateDiv">
                            {% field_with_label shipping_address_form.shipping_us_zip %}
                        </div>
                        <div class="nonUsStateDiv" style="display:none;">
                            {% field_with_label shipping_address_form.shipping_postal %}
                        </div>
                    </fieldset>
                </div>

                <div class="span7" class="paymentForm">
                    <h4 style="text-align:left">Payment Information</h4>
                    <fieldset>
                        {% field_with_label credit_card_form.name_on_card %}
                        {% field_with_label credit_card_form.card_number %}
                        <div class="control-group">
                            <label for="{{ credit_card_form.exp_month.auto_id }}">
                                {{ credit_card_form.exp_month.label }}
                            </label>
                            <div>{{ credit_card_form.exp_month }}<span> / </span>{{ credit_card_form.exp_year }}</div>
                        </div>
                        {% field_with_label credit_card_form.cvv_code %}
                        <div class="control-group error"><span class="help-inline paymentFormError"></span></div>

                        <br>
                        <button type="submit" class="btn btn-primary submitButton">
                            Submit Payment
                        </button>
                        <a href="#" class="btn disabled processingButton" style="display:none;">
                            <img src="{% static 'img/loading-16.gif' %}"> processing ...
                        </a>
                    </fieldset>
                </div>
            </form>

        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}

