{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load dajaxice_templatetags %}

{# invite_friends_to_sign.html                                  #}
{# Bryan Cattle     11/14/2012                                  #}
{#                                                              #}
{# This page allows users to send "requests" to their friends,  #}
{# to sign their yearbook.                                      #}
{#                                                              #}
{# UI elements:                                                 #}
{#  - List of friends with checkboxes                           #}
{#  - "Select all" button/checkbox                              #}
{#  - Input box, type to filter names                           #}
{#  - Submit button                                             #}
{#  - Skip button                                               #}
{#                                                              #}
{# Data in:                                                     #}
{#  - "Top friends", pulled via AJAX request                    #}
{#  - all other friends, pulled via Ajax request                #}
{#                                                              #}
{# Data out:                                                    #}
{#  - calls facebook js request dialog with list of friends     #}
{#                                                              #}
{# Interactions:                                                #}
{#  - Typing in the search box filters by name                  #}
{#  - Potentially, once a user is checked they move to a        #}
{#    separate pane where all checked users stack up            #}
{#  - If request dialog submitted successfully, redirect        #}
{#    to "vote badges" page                                     #}
{#                                                              #}

{% block body %}
{#        Message #}
{#        Skip link #}
    <h1>Invite friends to sign your yearbook</h1>
    <a href="{% url next_view %}">Skip >></a>
    <div>
        <div class="loading">
{#        Loading spinner #}
            <p>Loading ...</p>
        </div>
        <div class="loaded" style="display:none;">
            {#    (hidden): #}
            <div class="list_actions">
                <div style="float:left;">
                    {#        Select none button#}
                </div>
                <div style="float:left;">
                    {#        Submit button #}
                </div>
            </div>
            <div class="list_search">
                {#        Type to search friends input #}

            </div>
            <div class="list">
                {#        List of friends #}
                <form action="" method="POST">
                    {% csrf_token %}
                    <ul class="friends_list">

                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% dajaxice_js_import %}
    <script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'js/mustache.js' %}"></script>
    <script type="text/html" id="friend_template">
        <li>
            <input name="friend_[[ facebook_id ]]" value="[[ facebook_id ]]" type="checkbox">
            <img src="[[ pic_small ]]">[[ name ]]
        </li>
    </script>
    <script type="text/javascript">
        var loaded = false;
        var currOffset = 0;
        var friendTemplate = null;

        function onGetFriends(friends) {
            friendsLoaded();
            // Dump the friends into the list
            var list = $('.friends_list');
            for (var idx in friends) {
                list.append(Mustache.to_html(friendTemplate, friends[idx]));
            }
            // If the list wasn't empty, request another page of results
            if (friends.length) {
                currOffset += friends.length;
                Dajaxice.yearbook.get_friends(onGetFriends, {'offset': currOffset});
            }
        }

        $(document).ready(function() {
            Dajaxice.setup({'default_exception_callback': friendsTimeout});
            Mustache.tags = ['[[', ']]'];
            friendTemplate = $('#friend_template').html();
            setTimeout(friendsTimeout, 10000);

            // Get the first page of friends
            // we don't trust this function, so we keep calling it to make sure
            // new results didn't come into the server
            window.setInterval(function() {
                Dajaxice.yearbook.get_friends(onGetFriends, {'offset': currOffset})
            }, 3000);
        });

        function friendsLoaded() {
            if (!loaded) {
                var loaded = true;
                $('.loading').hide();
                $('.loaded').show();
            }
        }

        function friendsTimeout() {
            if (!loaded) {
                // Only run if the first call timed out
{#                Show an error message #}
            }
        }
    </script>
{% endblock %}
