{% load staticfiles %}
<style type="text/css">
    @font-face {
        font-family: 'Reenie Beanie';
        font-style: normal;
        font-weight: 400;
        src: local('Reenie Beanie'), local('ReenieBeanie'), url({% static 'fonts/reeniebeanie.woff' %}) format('woff');
    }
    @font-face {
        font-family: 'Bad Script';
        font-style: normal;
        font-weight: 400;
        src: local('Bad Script Regular'), local('BadScript-Regular'), url({% static 'fonts/badscript.woff' %}) format('woff');
    }
    @font-face {
        font-family: 'Nothing You Could Do';
        font-style: normal;
        font-weight: 400;
        src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url({% static 'fonts/nothingyoucoulddo.woff' %}) format('woff');
    }
</style>