{% extends 'two_page.html' %}
{% load staticfiles %}
{% load url from future %}
{% load compress %}

{% block style %}
    <link href="{% static 'css/invite_friends.css' %}" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <div class="book_topsection">
        <div class="book_topsection_upper">
            <img class="booklogo" src="{% static 'img/allstar_logo_120.png' %}">
            <div class="booktopright">
                <div class="progress progress-striped bookprogress">
                    <div class="bar" style="width: 80%;"></div>
                </div>
                <h5 style="float:right; margin-top:-10px">Click 3 of 4</h5>
            </div>
        </div>
        <div style="clear:both;"></div>
        <h1 class="regularfont googlefont bookheader">Invite your friends to sign your yearbook</h1>
    </div>

    <div class="owl_advice_1">
        <img src="{% static 'img/stacy.jpg' %}" style="float:left; height:116px;">
        <p class="stacy_text">After you click "select," you'll be able to approve
            the message that is sent to your friends.
            <br>-xoxo Stacy, Yearbook Chair</p>
    </div>

{% endblock %}

{# -- PAGES -- #}

{% block page_1 %}

{% endblock %}

{% block page_2 %}
    <div class="page_pane">
        <div class="page_pane_header">
            <div class="floatright">
                <button class="btn btn-mini list_action_button" id="selectAll">select all</button>
            </div>
            <div class="floatright">
                <button class="btn btn-mini list_action_button" id="selectNone">unselect</button>
            </div>
            <div class="floatright">
                <input id="filter_input" type="text" placeholder="type to search">
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="friends_list">
            {% include 'includes/loading_spinner.html' %}
        </div>
        <div class="inviteboxfooter">
            <div class="floatright">
                <button id="submit" class="btn btn-primary btn_extralarge">Select Friends!</button>
            </div>
            <div class="skiplink_container">
                <a class="skiplink" href="{% url next_view %}">skip</a>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>
{% endblock %}

{% block top_of_body %}
    {% include 'facebook_js.html' %}
{% endblock %}

{% block script %}
    {# yepnope, jQuery and Mustache loaded in two_page.html   #}
    <script type="text/html" id="friend_template">
        <div data-id="[[ facebook_id ]]">    {# NOTE: this gets the class "friend" once its image has loaded #}
            <div class="friend_checkbox">
                <input name="friend_[[ facebook_id ]]" value="[[ facebook_id ]]" type="checkbox" [[ checked ]]>
            </div>
            <img class="friend_image_small" src="[[ pic_square ]]">
            <div class="friend_name googlefont">[[ name ]]</div>
        </div>
    </script>
    <script type="text/javascript">
        var friendsUrl = "{% url 'api_dispatch_list' api_name='v1' resource_name='friendwhohasntsigned' %}";
        var nextFriendsUrl = friendsUrl;
        var nextUrl = "{% url next_view %}";
        var invitesSentUrl = "{% url 'api_dispatch_list' api_name='v1' resource_name='invitesent' %}";
    </script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery.imagesloaded.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/invite_friends.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/typeahead.js' %}"></script>
    {% endcompress %}
{% endblock %}
