{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load dajaxice_templatetags %}

{# invite_friends_to_sign.html                                  #}
{# Bryan Cattle     11/14/2012                                  #}
{#                                                              #}
{# This page allows users to send "requests" to their friends,  #}
{# to sign their yearbook.                                      #}
{#                                                              #}
{# UI elements:                                                 #}
{#  - List of friends with checkboxes                           #}
{#  - "Select all" button/checkbox                              #}
{#  - Input box, type to filter names                           #}
{#  - Submit button                                             #}
{#  - Skip button                                               #}
{#                                                              #}
{# Data in:                                                     #}
{#  - "Top friends", pulled via AJAX request                    #}
{#  - all other friends, pulled via Ajax request                #}
{#                                                              #}
{# Data out:                                                    #}
{#  - calls facebook js request dialog with list of friends     #}
{#                                                              #}
{# Interactions:                                                #}
{#  - Typing in the search box filters by name                  #}
{#  - Potentially, once a user is checked they move to a        #}
{#    separate pane where all checked users stack up            #}
{#  - If request dialog submitted successfully, redirect        #}
{#    to "vote badges" page                                     #}
{#                                                              #}

{% block body %}
{#        Message #}
{#        Skip link #}
    <h1>Invite friends to sign your yearbook</h1>
    <a href="{% url next_view %}">Skip >></a>
    <div>
        <div class="loading">
{#        Loading spinner #}
        </div>
        <div class="loaded" style="display:none;">
            {#    (hidden): #}
            <div class="list_actions">
                <div style="float:left;">
                    {#        Select none button#}
                </div>
                <div style="float:left;">
                    {#        Submit button #}
                </div>
            </div>
            <div class="list_search">
                {#        Type to search friends input #}

            </div>
            <div class="list">
                {#        List of friends #}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% dajaxice_js_import %}
    <script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Dajaxice.setup({'default_exception_callback': friendsTimeout});
            setTimeout(friendsTimeout, 10000);

{#          Make ajax call for top friends #}

{#          Make ajax call for rest of friends #}

        });

        var loaded = false;
        function friendsLoaded() {
            if (!loaded) {
                $('.loading').hide();
                $('.loaded').show();
            }
        }

        function friendsTimeout() {
            if (!loaded) {
                // Only run if the first call timed out

            }
        }
    </script>
{% endblock %}
