{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load dajaxice_templatetags %}

{# invite_friends_to_sign.html                                  #}
{# Bryan Cattle     11/14/2012                                  #}
{#                                                              #}
{# This page allows users to send "requests" to their friends,  #}
{# to sign their yearbook.                                      #}
{#                                                              #}
{# UI elements:                                                 #}
{#  - List of friends with checkboxes                           #}
{#  - "Select all" button/checkbox                              #}
{#  - Input box, type to filter names                           #}
{#  - Submit button                                             #}
{#  - Skip button                                               #}
{#                                                              #}
{# Data in:                                                     #}
{#  - "Top friends", pulled via AJAX request                    #}
{#  - all other friends, pulled via Ajax request                #}
{#                                                              #}
{# Data out:                                                    #}
{#  - calls facebook js request dialog with list of friends     #}
{#                                                              #}
{# Interactions:                                                #}
{#  - Typing in the search box filters by name                  #}
{#  - Potentially, once a user is checked they move to a        #}
{#    separate pane where all checked users stack up            #}
{#  - If request dialog submitted successfully, redirect        #}
{#    to "vote badges" page                                     #}
{#                                                              #}

{% block body %}
{#        Message #}
{#        Skip link #}
    <h1>Invite friends to sign your yearbook</h1>
    <a href="{% url next_view %}">Skip >></a>
    <div>
        <div class="loading">
{#        Loading spinner #}
            <p>Loading ...</p>
        </div>
        <div class="loaded" style="display:none;">
            <div style="width:300px;">
                {#    (hidden): #}
                <div class="list_actions">
                    <div style="float:left;">
                        <button id="selectNone">Select none</button>
                    </div>
                    <div style="float:left;">
                        <button id="submit">Next >></button>
                    </div>
                </div>
                <div class="list_search" style="clear:both;">
                    {#        Type to search friends input #}
                    <form action="" method="post" id="filter_form">
                        <input id="filter_friends" style="width:100%" placeholder="Type to search for a friend">
                    </form>
                </div>
                {#        List of friends #}
                <div class="list" style="clear:both; height:500px; overflow-y:scroll;">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <ul class="friends_list"></ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% dajaxice_js_import %}
    <script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'js/mustache.js' %}"></script>
    <script type="text/html" id="friend_template">
        <li>
            <input name="friend_[[ facebook_id ]]" value="[[ facebook_id ]]" type="checkbox" checked="checked">
            <img src="[[ pic_square ]]">[[ name ]]
        </li>
    </script>
    <script type="text/javascript">
        var loaded = false;
        var currOffset = 0;
        var friendTemplate = null;
        var pollTimer;
        var emptyCount = 0
        var TURN_OFF_AFTER = 8;

        function onGetFriends(friends) {
            friendsLoaded();
            if (friends.length) {
                console.log('Got friends, starting id' + friends[0].facebook_id)
                // Dump the friends into the list
                var list = $('.friends_list');
                for (var idx in friends) {
                    list.append(Mustache.to_html(friendTemplate, friends[idx]));
                }
                // Get another page of results
                currOffset += friends.length;
                Dajaxice.yearbook.get_friends(onGetFriends, {'offset': currOffset});
            } else {
                emptyCount++;
                if (emptyCount > TURN_OFF_AFTER) {
                    // Turn off polling for new results
                    clearInterval(pollTimer);
                }
            }
        }

        $(document).ready(function() {
            Dajaxice.setup({'default_exception_callback': friendsTimeout});
            // Get the first page of friends
            // we don't trust this function, so we keep calling it to make sure
            // new results didn't come into the server
            var get_friends = function() { Dajaxice.yearbook.get_friends(onGetFriends, {'offset': currOffset}); };
            get_friends();
            pollTimer = setInterval(get_friends, 1000);
            setTimeout(friendsTimeout, 10000);

            // Load template
            Mustache.tags = ['[[', ']]'];
            friendTemplate = $('#friend_template').html();

            $('#selectNone').click(function() {
               $('.friends_list input').removeAttr('checked');
            });

            $('#submit').click(function() {
                var selected_ids = $('.friends_list input:checked').map(function(){
                    return $(this).attr("value");
                }).get();
                Dajaxice.yearbook.invites_sent(submitCallback, {'friend_ids': selected_ids});
            });

            $('#filter_form').submit(function(e){
                e.preventDefault();
                return false;
            });
        });

        function friendsLoaded() {
            if (!loaded) {
                var loaded = true;
                $('.loading').hide();
                $('.loaded').show();
            }
        }

        function friendsTimeout() {
            if (!loaded) {
                // Only run if the first call timed out
{#                Show an error message #}
            }
        }

        function submitCallback() {

        }
    </script>
{% endblock %}
