{% load staticfiles %}
<style type="text/css">
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url({% static 'fonts/opensans-bold.woff' %}) format('woff');
    }
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url({% static 'fonts/opensans-light.woff' %}) format('woff');
    }
</style>