{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load dajaxice_templatetags %}

{# sign_friends.html                                            #}
{# Bryan Cattle     11/14/2012                                  #}
{#                                                              #}
{# This page allows users to sign their friends' yearbooks.     #}
{#                                                              #}
{# UI elements:                                                 #}
{#                                                              #}
{# Data in:                                                     #}
{#                                                              #}
{# Data out:                                                    #}
{#                                                              #}
{# Interactions:                                                #}
{#                                                              #}

{% block body %}
    {#        Message #}
    {#        Skip link #}
    <h1>Sign your friends' yearbooks</h1>
    <a href="{% url next_view %}">Skip >></a>
    <div>
        <div class="loading">
            {#        Loading spinner #}
            <p>Loading ...</p>
        </div>
        {#        hidden #}
        <div class="loaded" style="display:none;">
            <div style="">
                <div class="list_actions">
                    <div style="float:left;">
                        <button id="submit">Next >></button>
                    </div>
                </div>
                {#        List of yearbooks #}
                <div class="list" style="width:500px;">
                    <div class="all_yearbooks"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% dajaxice_js_import %}
    <script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'js/mustache.js' %}"></script>
    <script type="text/html" id="yearbook_template">
        <div class="yearbook">
            <div class="row">
                <div style="float:left;">
                    <img src="[[ photo ]]">
                    <p>[[ name ]]</p>
                </div>
                <div style="float:left;">
                    <form action="" method="POST" class="sign_yearbook_form">
                        <textarea class="sign_yearbook_input" id="sign_[[ facebook_id ]]" rows="2"></textarea>
                    </form>
                </div>
            </div>
            <div class="row" style="clear:both;">
                <div style="float:right;">
                    <button class="sign_yearbook_submit">Sign</button>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        var loaded = false;
        var yearbookTemplate = null;

        function onGetYearbooks(yearbooks) {
            yearbooksLoaded();
            var container = $('.all_yearbooks');
            for (var idx in yearbooks) {
                container.append(Mustache.to_html(yearbookTemplate, yearbooks[idx]));
            }
        }

        function yearbooksLoaded() {
            if (!loaded) {
                loaded = true;
                $('.loading').hide();
                $('.loaded').show();
            }
        }

        $(document).ready(function() {
            Dajaxice.setup({'default_exception_callback': yearbookTimeout});
            // Get the yearbooks
            Dajaxice.yearbook.get_yearbooks_to_sign(onGetYearbooks);

            // Load template
            Mustache.tags = ['[[', ']]'];
            yearbookTemplate = $('#yearbook_template').html();

            $('.sign_yearbook_submit').click(function() {


                Dajaxice.yearbook.sign_yearbook(submitCallback, {'friend_ids': selected_ids});
            });

        });

        function yearbookTimeout() {
            if (!loaded) {
                // Only run if the first call timed out
            {#               TODO: show an error message #}
            }
        }

        function submitCallback(next_url) {
            // If everything worked, redirect to the next page
        }

    </script>
{% endblock %}
