{% extends 'two_page.html' %}
{% load staticfiles %}
{% load url from future %}

{% block style %}
    <link href="{% static 'css/sign_friends.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.modal.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block page_header %}
    <div class="book_topsection">
        <div class="book_topsection_upper">
            <img class="booklogo" src="{% static 'img/logo2_white.png' %}">
            <div class="booktopright">
                <div class="floatright">
                    <button class="btn btn-medium btn-primary">Preview my Yearbook</button>
                </div>
                <div class="floatright">
                    <h2 style="margin:0;">jquery plugin</h2>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <h1 class="regularfont googlefont bookheader_center">Congrats, your Yearbook has been wrapped!</h1>
        <div class="book_subheader">
            <img class="helper_3" src="{% static 'img/yearbook_staff_100.jpg' %}">
            <p class="helpertext_3">We keep it wrapped until Yearbook Day, Monday,
                December 10th, so that your friends have a chance to sign it. Visit
                <a href="http://www.yearbookallstar.com/">yearbookallstar.com</a>
                at any time to come back to this page and see who's signed!</p>
            <div style="clear:both;"></div>
        </div>
    </div>
{% endblock %}

{# -- PAGES -- #}

{% block page_1 %}
    <div class="page_content">
        <h3 class="page_header">Who signed your yearbook?</h3>
        <div class="page_pane">
            <div class="signs_list">

            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
{% endblock %}

{% block page_2 %}
    <div class="page_content">
        <h3 class="page_header">Sign and they'll sign back!</h3>
        <div class="page_pane">
            <div class="page_pane_header">
                <input id="filter_input" type="text" placeholder="type to find a friend">
            </div>
            <div class="yearbooks_list">

            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    {#  Yearbook message modal  #}
    <div id="yearbook_message_modal">
        <div class="yearbook_message_modal_loading">
            <div class="loading">
                <div class="loading_content">
                    <div class="loading_image">
                        <img src="{% static 'img/loading-24.gif' %}">
                    </div>
                    <div class="googlefont">loading message...</div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="yearbook_message_modal_body"></div>
        <div style="clear:both;"></div>
    </div>
    <script type="text/html" id="yearbook_message_template">
        <div class="message_photo">
            <img src="[[ pic_square ]]">
        </div>
        <div class="message_content">
            <div class="message_title googlefont">
                [[ name ]] says
            </div>
            <div class="message_container">
                <img class="quote_image" src="{% static 'img/quote_open.png' %}">
                [[ &text ]]
                <img class="quote_image floatright" src="{% static 'img/quote_close.png' %}">
            </div>
            [[#can_sign]]
            <div class="message_sign_button">
                <button class="btn googlefont friend_sign_button modalNewSignBtn"
                        data-id="[[ id ]]">Sign Yearbook</button>
            </div>
            <div style="clear:both;"></div>
            <div class="message_sign_input_container">
                <div class="modal_yearbook_content">
                    <textarea class="modal_yearbook_input" placeholder="Sign [[ name ]]'s yearbook"></textarea>
                    <div style="clear:both;"></div>
                    {# TODO user's photo? #}
                    <button class="btn btn-primary signYearbookButtonModal" data-id="[[ id ]]">Sign Yearbook</button>
                    <div style="clear:both;"></div>
                </div>
            </div>
            [[/can_sign]]
        </div>
        <div style="clear:both;"></div>
    </script>

    {# yepnope, jQuery and Mustache loaded in two_page.html   #}
    <script type="text/javascript" src="{% static 'js/jquery.imagesloaded.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.modal.min.js' %}"></script>
    <script type="text/html" id="sign_template">
        <div class="friend_sign_unit">
            <div class="friend_sign_photo">
                <img src="[[ pic_square ]]">
            </div>
            <div class="friend_sign_content">
                <div class="friend_sign_text googlefont">[[ name ]]</div>
                <div class="sign_buttons_tray">
                    <button class="btn btn-mini btn-info googlefont friend_sign_button viewSignBtn"
                            data-id="[[ id ]]">View Message</button>
                    [[#can_sign]]
                        <button class="btn btn-mini googlefont friend_sign_button newSignBtn"
                                data-id="[[ id ]]">Sign Yearbook</button>
                    [[/can_sign]]
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </script>
    <script type="text/html" id="yearbook_template">
        <div class="yearbook">
            <div class="yearbook_content">
                <div class="yearbook_photo">
                    <img src="[[ pic_square ]]">
                </div>
                <div class="yearbook_input_container">
                    <div class="yearbook_name googlefont">To [[ name ]]:</div>
                    <textarea class="yearbook_input" placeholder="Sign [[ name ]]'s yearbook"></textarea>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="yearbook_footer">
                {# TODO user's photo? #}
                <button class="btn btn-mini btn-primary signYearbookButton" data-id="[[ id ]]">Sign Yearbook</button>
                <div style="clear:both;"></div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        var nextSignsUrl = "{% url 'api_dispatch_list' api_name='v1' resource_name='yearbooksign' %}";
        var nextYearbooksUrl = "{% url 'api_dispatch_list' api_name='v1' resource_name='yearbooktosign' %}";
        var STACY_DATA = {
            'name': 'Stacy, Yearbook Captain',
            'pic_square': '{% static 'img/yearbook_stacy.png' %}',
            'id': 0,
//            'can_sign': false,
            'can_sign': true,
            'text': ['Hey! Congratuations on getting your yearbook. ',
                'You invited your friends to sign, soon this ',
                'area will start to fill up with their messages. ',
                'Come back to check on who\'s signed and Happy New Year! ',
                '- Stacy'].join('')
        };
    </script>
    <script type="text/javascript" src="{% static 'js/sign_friends.js' %}"></script>
{% endblock %}
