{% extends 'base.html' %}
{% load staticfiles %}

{# invite_friends_to_sign.html                                  #}
{# Bryan Cattle     11/14/2012                                  #}
{#                                                              #}
{# This page allows users to send "requests" to their friends,  #}
{# to sign their yearbook.                                      #}
{#                                                              #}
{# UI elements:                                                 #}
{#  - List of friends with checkboxes                           #}
{#  - "Select all" button/checkbox                              #}
{#  - Input box, type to filter names                           #}
{#  - Submit button                                             #}
{#  - Skip button                                               #}
{#                                                              #}
{# Data in:                                                     #}
{#  - "Top friends", pulled via AJAX request                    #}
{#  - all other friends, pulled via Ajax request                #}
{#                                                              #}
{# Data out:                                                    #}
{#  - calls facebook js request dialog with list of friends     #}
{#                                                              #}
{# Interactions:                                                #}
{#  - Typing in the search box filters by name                  #}
{#  - Potentially, once a user is checked they move to a        #}
{#    separate pane where all checked users stack up            #}
{#  - If request dialog submitted successfully, redirect        #}
{#    to "vote badges" page                                     #}
{#                                                              #}

{% block body %}
    <div>

    </div>
{% endblock %}

{% block javascript %}
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script src="https://raw.github.com/jonnyreeves/jquery-Mustache/master/src/jquery-Mustache.js"></script>
    <script src="https://raw.github.com/janl/mustache.js/master/mustache.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>
{% endblock %}