{% extends 'base.html' %}
{% load staticfiles %}

{% block style_0 %}
    <link href='{% static 'css/bootstrap.css' %}' rel='stylesheet' type='text/css'>
    {% include 'open_sans_font.html' %}
    <link href="{% static 'css/two_page.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% block top_of_body %}
{% endblock %}
<div class="facebook_canvas">
    {% block page_header %}
        <div class="page_topsection">
        </div>
    {% endblock %}

    <div class="book" style="background: url({% static 'img/book_background_cropped.png' %});">
        <div class="page">
            {% block page_1 %}
            {% endblock %}
        </div>
        <div class="page">
            {% block page_2 %}
            {% endblock %}
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
{% endblock %}

{% block script_0 %}
    <script type="text/javascript" src="{% static 'js/yepnope.1.5.4-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mustache.js' %}"></script>
    <script type="text/javascript">
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $(document).ready(function (){
            Mustache.tags = ['[[', ']]'];
            // Load json2.js if we need it
            yepnope({
                test: window.JSON,
                nope: '{% static 'js/json2.js' %}'
            });
        });
    </script>
{% endblock %}