{% extends 'base.html' %}
{% load staticfiles %}

{% block style_0 %}
    <link href='{% static 'css/bootstrap.css' %}' rel='stylesheet' type='text/css'>
    {% include 'open_sans_font.html' %}
    <link href="{% static 'css/two_page.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% block top_of_body %}
{% endblock %}
<div class="facebook_canvas">
    {% block page_header %}
        <div class="page_topsection">
        </div>
    {% endblock %}

    {# Loading spinner #}
{#    <div class="loading">#}
{#        <p>Loading ...</p>#}
{#    </div>#}
    {# Initally hidden, shows after page loads #}
{#    <div class="loaded" style="display:none;">#}
    <div class="book" style="background: url({% static 'img/book_background_cropped.png' %});">
        <div class="page">
            {% block page_1 %}
            {% endblock %}
        </div>
        <div class="page">
            {% block page_2 %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block script_0 %}
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/jQuery.equalHeights.js' %}"></script>#}
    <script type="text/javascript">
        $(document).ready(function (){
            {# DEBUG ONLY #}
//            $('#pages').equalHeights();
        });
    </script>
{% endblock %}