{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block meta %}
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
{% endblock %}

{% block style_0 %}
    <link href='{% static 'css/bootstrap.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}


{% block body %}
    <div id="canvas">
        <div id="book-zoom">
            <div class="sj-book">
                <div depth="5" class="hard"> <div class="side"></div> </div>
                <div depth="5" class="hard front-side"> <div class="depth"></div> </div>
                <div class="hard fixed back-side p51"> <div class="depth"></div> </div>
                <div class="hard p52"></div>
            </div>
        </div>
        <div id="slider-bar" class="turnjs-slider">
            <div id="slider"></div>
        </div>
    </div>

    <div>
        <h1>The story of you in 2012</h1>
    </div>

{% endblock %}


{% block script %}
{#    <script type="text/html" id="edit_row_template">#}
{#        <div class="edit_row">#}
{#            <btn class="btn btn-mini btn-primary disabled prevButton"#}
{#                 data-page="[[ page ]]" data-index="[[ index ]]">Previous</btn>#}
{#            <btn class="btn btn-mini btn-primary nextButton"#}
{#                 data-page="[[ page ]]" data-index="[[ index ]]">Next</btn>#}
{#            <h6 class="options_none">No more available options for this photo.</h6>#}
{#        </div>#}
{#    </script>#}

    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.20.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr.2.5.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hash.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/next_prev_buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/addpage-api.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/yearbook.js' %}"></script>

    <script type="text/javascript">
        var pagesUrl = "{% url 'api_dispatch_list' api_name='v1' resource_name='yearbookpage' hash=hash %}";

        // Load turn.js
        yepnope({
            test : Modernizr.csstransforms,
            yep: ["{% static 'js/turn.min.js' %}"],
            nope: ["{% static 'js/turn.html4.min.js' %}", "{% static 'css/jquery.ui.html4.css' %}", "{% static 'css/turnjs-html4.css' %}"],
            both: ["{% static 'css/jquery.ui.css' %}", "{% static 'css/turnjs.css' %}",
                "{% static 'css/yearbook-pages.css' %}"],
            complete: loadApp
        });
    </script>
{% endblock %}