{% load staticfiles %}


<div class="navbar {% if inverse %}navbar-inverse{% endif %}">
    <div class="navbar-inner inner_small_right">
        <a class="brand" style="padding-top:4px;" id="brand_small" href="{% url 'homepage' %}">
            {% if inverse %}
                <img src="{% static 'img/yearbook_allstar.png' %}" width="90">
            {% else %}
                <img src="{% static 'img/logo_new1.png' %}" width="90">
            {% endif %}
        </a>
        {% if not empty %}
            <ul class="nav" style="float:left">
                <li class="{% if active == 'inbox' %}active{% endif %}"><a href="{% url 'homepage' %}">Inbox</a></li>
                <li class="divider-vertical"></li>
                <li class="{% if active == 'hardcover' %}active{% endif %}">
                    <a class="navbar_link" href="{% url 'hardcover_feature' %}">Hardcovers</a></li>
                <li class="divider-vertical"></li>
                <li class="{% if active == 'standard' %}active{% endif %}">
                    <a class="navbar_link" href="{% url 'standard_feature' %}">Standard</a></li>
                <li class="divider-vertical"></li>
            </ul>

            {% if user.is_authenticated %}
                <ul class="nav" style="float:right;margin-right:0;">
                    <li><a class="navbar_link" href="#edit_modal" rel="modal:open">Edit</a></li>
                    <li class="divider-vertical"></li>
                    <li><a class="navbar_link" href="#share_modal" rel="modal:open">Share</a></li>
                    <li class="divider-vertical"></li>
                    {% if active == 'view' %}
                        <li class="active">
                            <a class="navbar_link yearbookReady" href="#">
                                <strong>View Yearbook</strong>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a class="yearbookNotReadyInitial" href="#">
                                <img src="{% static 'img/loading-16.gif' %}"> loading...
                            </a>
                            <a class="yearbookNotReady" style="display:none;" href="#">
                                <img src="{% static 'img/loading-16.gif' %}"> Ready in 30 seconds
                            </a>
                            <a class="navbar_link yearbookReady" style="display:none;" href="{% url 'yearbook_no_hash' %}">
                                <strong>View Yearbook</strong>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <ul class="nav" style="float:right;">
                    <li><a href="#" class="facebook-login"><img class="navbar_f_logo" src="{% static 'img/f_logo.png' %}" width="18">
                        Create Free Version</a></li>
                </ul>
            {% endif %}
        {% endif %}
    </div>
</div>

{# MODALS #}

{% include 'includes/edit_modal.html' %}
{% include 'includes/share_modal.html' %}
