{% load staticfiles %}

<div class="collage_container">
	
	<img class="collage_image" src="{% static 'img/faces/face1.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face2.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face3.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face4.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face5.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face6.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face7.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face8.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face9.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face10.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face11.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face12.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face13.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face14.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face15.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face16.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face17.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face18.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face19.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face20.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face21.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face22.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face23.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face24.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face25.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face26.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face27.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face28.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face29.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face30.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face31.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face32.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face33.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face34.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face35.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face36.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face37.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face38.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face39.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face40.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face41.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face42.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face43.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face44.jpg' %}">
	<img class="collage_image" src="{% static 'img/faces/face45.jpg' %}">

	



</div>