django
MySQL-python
south
django-celery
# In /lib:
#django_facebook
pil
ipython
ipdb
django-redis-sessions
factory_boy
git+git://github.com/toastdriven/django-tastypie.git
gevent
django-jsonfield
# pip install --index-url https://code.stripe.com --upgrade stripe
django_compressor
python-dateutil
# Celery monitoring
flower
boto
django-storages
django-countries
git+https://github.com/django/django-localflavor-us
raven
# Needed for mixpanel-celery
simplejson
git+git://github.com/kevinastone/mixpanel-celery.git
