django
MySQL-python
south
django-celery
django_facebook
pil
#django-dajaxice
ipython
ipdb
django-redis-sessions
factory_boy
git+git://github.com/toastdriven/django-tastypie.git
gevent
django-jsonfield
# pip install --index-url https://code.stripe.com --upgrade stripe
django_compressor
dateutil
