{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block meta %}
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
{% endblock %}

{% block style_uncompressed %}
    <link href='{% static 'css/jquery.modal.css' %}' rel='stylesheet' type='text/css'>
    <link href='{% static 'css/bootstrap.css' %}' rel='stylesheet' type='text/css'>
    <link href='{% static 'css/fontello.css' %}' rel='stylesheet' type='text/css'>

    <link href='{% static 'css/open_sans.css' %}' rel='stylesheet' type='text/css'>
    <link href='{% static 'css/cabin_fjalla.css' %}' rel='stylesheet' type='text/css'>
    <link href='{% static 'css/inbox.css' %}' rel='stylesheet' type='text/css'>
    <link href='{% static 'css/yearbook.css' %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}

    <div style="width:996px;margin-left: auto; margin-right:auto;margin-top:20px">

        <div style="width:996px;height:50px;">
            <a href="{% url 'homepage' %}"><img src="{% static 'img/monkeybook_transparent.png' %}" width="140" style="margin-bottom:20px"></a>
            <a href="{% url 'homepage' %}"><div class="icon-cancel-circle" style="float:right;margin-right:17px;font-size:25px;color:whitesmoke;opacity:.5"></div></a>
        </div>

        <div class="paddle-button previous-button">
            <div class="paddle-icon icon-left-open" ></div>
        </div>

        <div id="canvas" style="margin-top:10px;float:left">
            <div id="book-zoom">
                <div class="sj-book">
                    <div depth="5" class="hard"> <div class="side"></div> </div>
                    <div depth="5" class="hard front-side"> <div class="depth"></div> </div>
                    <div class="hard fixed back-side p31"> <div class="depth"></div> </div>
                    <div class="hard p32"></div>
                </div>
            </div>
        </div>

        <div class="paddle-button next-button">
            <div class="paddle-icon icon-right-open" style="margin-left:-6px;"></div>
        </div>

	{% if is_user_yearbook %}
        <div style="width:980px;height:20px;float:left">
            <div style="margin-left:auto;margin-right:auto;width:260px">
                <button class="btn btn-large edit-button" style="margin-right:3px">Edit</button>
{#                <button class="btn btn-large btn-info" style="margin-right:3px">Share</button>#}
                <button class="btn btn-large btn-primary shop-button" >Shop</button>
            </div>
        </div>

        <div id="buy-button-modal" class="modal">
            <img src="{% static 'img/coming_soon_red.jpg' %}" style="float:left;margin-right:10px;margin-top:2px" >
            <h4 style="margin-top:0;margin-bottom:14px">Buy a Hardcover!</h4>
            <p style="margin-left:140px">In just a few days, you'll be able to buy a high-quality, 100% made in U.S.A.,
                8x11 printed book for your coffee table for $39.99. We'll send you an email when we open up for pre-orders. </p>
        </div>

        <div id="edit-button-modal" class="modal">
            <img src="{% static 'img/coming_soon_red.jpg' %}" style="float:left;margin-right:10px;margin-top:2px" >
            <h4 style="margin-top:0px;margin-bottom:14px">Pick the Perfect Photo.</h4>
            <p style="margin-left:140px">Nobody knows your photos like you do. In a few days, you'll be able to customize the photos
                and comments in your book...in the click of a button. We'll send you an email when we release the feature! </p>
        </div>


	{% endif %}
    </div>

{#    <div class="footer_background_black" style="margin-top:40px">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="span12">#}
{#                    <img src="{% static 'img/yearbook_allstar.png' %}" width="120px" style="float:right; margin-top:10px">#}
{#                    <div class="footer_column">#}
{#                        <h6 class="headerfont"><a style="color:lightblue">About</a></h6>#}
{#                        <h6 class="headerfont"><a style="color:lightblue">How it Works</a></h6>#}
{#                        <h6 class="headerfont"><a style="color:lightblue">Contact Us</a></h6>#}
{#                    </div>#}
{##}
{#                    <div class="footer_bottom">#}
{#                        <p>&copy; 2012 Voomza, Inc., All Rights Reserved</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}


{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery.modal.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modernizr.2.5.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/hash.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/next_prev_buttons.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/addpage-api.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/yearbook-ux.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/yearbook.js' %}"></script>
        <script type="text/javascript">
            var pagesUrl = "{% url 'api_dispatch_list' api_name='v1' resource_name='yearbookpage' hash=hash %}";
	    var yearbookStatusUrl = "{% url 'api_dispatch_detail' api_name='v1' resource_name='yearbook_progress' pk='1' %}";

            yepnope({
                test : Modernizr.csstransforms,
            // yep: ["{% static 'js/turn.min.js' %}"],
	        yep: ["{% static 'js/turn.js' %}"],
                nope: ["{% static 'js/turn.html4.min.js' %}", "{% static 'css/jquery.ui.html4.css' %}", "{% static 'css/steve-jobs-html4.css' %}"],
                both: ["{% static 'css/jquery.ui.css' %}", "{% static 'css/steve-jobs.css' %}"],
                complete: loadApp
            });

            $(document).ready(function() {
                // Log that the user viewed the book
                {% if is_user_yearbook %}
                    mixpanel.track('Book viewed', {'Book': '2012 Yearbook', 'Owner': 'me'});
                {% else %}
                    mixpanel.track('Book viewed', {'Book': '2012 Yearbook', 'Owner': '{{ owner.username }}'});
                {% endif %}

                $.modal.defaults = {
                    overlay: "#000",        // Overlay color
                    opacity: 0.75,          // Overlay opacity
                    zIndex: 1000,              // Overlay z-index.
                    escapeClose: true,      // Allows the user to close the modal by pressing `ESC`
                    clickClose: true,       // Allows the user to close the modal by clicking the overlay
                    closeText: 'Close',     // Text content for the close <a> tag.
                    showClose: true,        // Shows a (X) icon/link in the top-right corner
                    modalClass: "modal",    // CSS class added to the element being displayed in the modal.
                    spinnerHtml: null,      // HTML appended to the default spinner during AJAX requests.
                    showSpinner: true       // Enable/disable the default spinner during AJAX requests.
                };

                $('.edit-button').click(function() {
                    $('#edit-button-modal').modal();
                    mixpanel.track('Book edit click', {'Book': '2012 Yearbook'});
                });

                $('.shop-button').click(function() {
                    $('#buy-button-modal').modal();
                    mixpanel.track('Book buy click', {'Book': '2012 Yearbook'});
                });

                // Track what pages the user views and how long they spend
                var lastFlipTime = null;
                var lastPages = null;
                $('.sj-book').bind("turning", function(event, page, view) {
                    var flipTime = new Date().getTime() / 1000;
                    if (lastFlipTime) {
                        var timeOnStation = flipTime - lastFlipTime;
                        if (lastPages.length == 1)
                            var pagesStr = 'Page ' + lastPages[0].toString();
                        else
                            var pagesStr = 'Pages ' + lastPages[0].toString() + ' and ' + lastPages[1].toString();
                        mixpanel.track('Book page viewed', {
                            'Book': '2012 Yearbook', 'Pages': pagesStr, 'Time': timeOnStation.toFixed(2)
                        });
                    }
                    lastFlipTime = flipTime;
                    lastPages = view;
                });
            });
        </script>
    {% endcompress %}
{% endblock %}
