{% load staticfiles %}

<div id="edit_modal" style="display:none;">
    <p style="font-family:'open sans'">To edit photos and save your yearbook permanently, please upgrade to a Standard Cloud Yearbook.</p>
    <img src="{% static 'img/cloud_upload.png' %}" width="160px" style="float:left">
    <h4 class="inbox_product_header" style="float:right;text-align:right">Standard Cloud Yearbook<br>$4.99</h4>
    <div style="float:right">
        <btn class="btn btn-primary">Buy Now</btn>
        <btn class="btn">Learn More</btn>
    </div>
</div>
