{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
        <meta name="description" content="The social yearbook that's instant,
        effortless, and all about you.">
        <meta name="author" content="Yearbook Allstar">
    {% endblock %}

    <title>{% block title %}Yearbook Allstar{% endblock %}</title>

    {# Le HTML5 shim, for IE6-8 support of HTML5 elements #}
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block style_0 %}{% endblock %}
    {% compress css %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        {% block style %}{% endblock %}
    {% endcompress %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/book_icon_144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/book_icon_114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/book_icon_72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/book_icon_57.png' %}">
    {% block head %}{% endblock %}
</head>

{% block body_tag %}
<body>
{% endblock %}
    {% block body %}
        {# Content #}
    {% endblock %}

    {% block script_0 %}{% endblock %}
    {% block script %}
        <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    {% endblock %}
</body>
</html>
