{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block style_0 %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block style %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/cabin_fjalla.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/open_sans.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/facebook.css' %}" type="text/css" rel="stylesheet" media="all" />
{% endblock %}

{% block head %}
    {% include 'django_facebook/_facebook_js.html' %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.20.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modernizr.2.5.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/hash.js' %}"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/addpage-files.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/yearbook.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.facebook-login').click(function(){
                    F.connect($('#facebook-login-form'));
                });
            });
        </script>
    {% endcompress %}
{% endblock %}


{% block body %}

<form id="facebook-login-form" action="{% url facebook_connect %}?facebook_login=1" method="post">
    <input type="hidden" value="{{ request.path }}" name="next" />


    <div class="container">
        <div class="navbar" style="margin-top:5px">
            <div class="navbar-inner inner_small_right">
                <a class="brand" id="brand_small" href="#"><img src="{% static 'img/logo_new1.png' %}" width="90px"></a>
                <ul class="nav" style="float:left">
                    <li class="active"><a href="#">Preview</a></li>
                    <li class="divider-vertical"></li>
                    <li ><a href="#editions" data-target="#editions">Editions </a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#howitworks" data-target="#howitworks">How It Works</a></li>
                    <li class="divider-vertical"></li>
                </ul>
                <ul class="nav" style="float:right">
                    <li><a href="#" class="facebook-login">
                        <img class="navbar_f_logo" src="{% static 'img/f_logo.png' %}" width="18px">Create Free Version
                    </a></li>
                </ul>
            </div>
        </div>

        <h1>Your Photomatic 2012 Yearbook</h1>
        <h3 class="gray" style="font-family:'open sans'; font-weight:normal; margin-bottom:20px">
            Instant, effortless, sharable, and all about you.</h3>
    </div>


    <div id="canvas">
        <div id="book-zoom">
            <div class="sj-book">
                <div depth="5" class="hard"> <div class="side"></div> </div>
                <div depth="5" class="hard front-side"> <div class="depth"></div> </div>
                <div class="hard fixed back-side p51"> <div class="depth"></div> </div>
                <div class="hard p52"></div>
            </div>
        </div>
        <div id="slider-bar" class="turnjs-slider">
            <div id="slider"></div>
        </div>

        <div class="arrow_tray" style="width:600px;;position:relative;bottom:40px;left:168px;opacity:.7">
            <img src="{% static 'img/left_arrow.jpg' %}" width="30px" style="float:left;opacity:100">
            <img src="{% static 'img/right_arrow.jpg' %}" width="30px" style="float:right;opacity:100">
        </div>
    </div>


    <div class="container">
        <div class="row" style="margin-top:20px; border-top:solid 1px lightgray; padding-top:20px">

            <div class="span12 product_large" id="editions" >
                <h1 style="color:black; text-align:right">Create yours in 4 clicks.</h1>
                <h3 style="color:gray; text-align:right"> Basic edition is free through Jan 31.</h3>
                <a class="btn btn-large btn-primary facebook-login" style="float:right">
                    <img class="navbar_f_logo" src="{% static 'img/f_logo.png' %}" width="18px">
                    Create My Yearbook
                </a>
            </div>

            <div class="span12" style="border-bottom:solid 1px whitesmoke">
            </div>

            <div class="span4 product_small">
                <h5>Basic<br>Free</h5>

                <div class="product_photo_wrapper">
                    <img src="{% static 'img/book_icon.png' %}" width="120px">
                </div>

                <div class="product_specs">
                    <div style="margin:auto;width:230px">
                        <ul class="product_specs_list">
                            <li>50 pages personalized about you</li>
                            <li>Viewable any time from your account</li>
                            <li>Share your yearbook with friends</li>
                        </ul>
                    </div>
                    <a class="btn btn-mini btn-primary facebook-login">Create (Free)</a>
                </div>
            </div>

            <div class="span4">
                <h5>Standard<br>$4.99</h5>

                <div class="product_photo_wrapper">
                    <div style="position: relative; left: 0; right:0; top: 0; ">
                        <img src="{% static 'img/book_icon.png' %}" width="120px"style="position: relative; top: 0; left: 0;"/>
                        <img src="{% static 'img/cloud_upload.png' %}" width="160px" style="position: absolute; top:40px; left: 20px;"/>
                    </div>
                </div>

                <div class="product_specs">
                    <div style="margin:auto;width:230px">
                        <ul class="product_specs_list">
                            <li>Includes all of the basic features</li>
                            <li>Edit your photos to make the perfect book</li>
                            <li>Store your yearbook on our cloud server</li>
                        </ul>
                    </div>
                    <a class="btn btn-mini btn-primary facebook-login">Create (Free)</a>
                </div>
            </div>

            <div class="span4">
                <h5>8X11 Hardcover<br>$39.99 - $99.99</h5>
                <div class="product_photo_wrapper">
                    <img style="margin:auto"src="{% static 'img/hardcover_photobook.jpg' %}" width="180px">
                </div>
                <div class="product_specs">
                    <div style="margin:auto;width:230px">
                        <ul class="product_specs_list">
                            <li>Includes all basic and standard features</li>
                            <li>Standard hardcover includes all pages</li>
                            <li>Abridged version includes top 25 pages </li>
                        </ul>
                    </div>
                    <a class="btn btn-mini btn-primary facebook-login">Create (Free)</a>
                </div>
            </div>
        </div>


        <div class="page_divider">
        </div>


        <div class="textured_background">
            <div class="container">

                <div class="row">
                    <img style="float:left"src="{% static 'img/vintage_player.gif' %}" width="360px">
                    <h1 style="text-align:right" id="howitworks">Inside the Photomatic Yearbook </h1>
                    <h3 class="gray" style="margin-bottom:50px; text-align:right">How we create 50 pages about you in 4 clicks.</h3>

                    <div class="span3 offset1 process_wrapper">

                        <div class="process_photo_wrapper">
                            <img class="margin_right"src="{% static 'img/comment_icon.png' %}" width="60px">
                            <img src="{% static 'img/f_logo.png' %}" width="45px">
                            <img src="{% static 'img/photo_icon.png' %}" width="65px">
                        </div>

                        <h4>Facebook Photos</h4>
                        <p class="process_details">Once you get started, we'll ask for your permission to use your Facebook photos and your comments. We use your pre-existing photos so you never have to upload a single photo.</p>

                    </div>


                    <div class="span3 process_wrapper">

                        <div class="process_photo_wrapper">
                            <img src="{% static 'img/algo_2.png' %}">
                        </div>

                        <h4>Algorithmic Logic </h4>
                        <p class="process_details">We use a series of ranking algorithms to determine the relevance and importance of your Facebook photos. Then we select your top photos and distribute them across 50 pages of unique design layouts.</p>

                    </div>
                </div>
            </div>
        </div>


        <div class="footer_background">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <img src="{% static 'img/logo_new1.png' %}" width="120px" style="float:right; margin-top:10px">

                        <div class="footer_column">
                            <h6 class="headerfont"><a style="color:lightblue">About</a></h6>
                            <h6 class="headerfont"><a style="color:lightblue">How it Works</a></h6>
                            <h6 class="headerfont"><a style="color:lightblue">Contact Us</a></h6>
                        </div>


                        <div class="footer_bottom">
                            <p>&copy; 2012 Voomza, Inc., All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>



{% endblock %}


