ipython
ipdb
django
MySQL-python
south
django-celery
# In /lib:
#django_facebook
pil
django-redis-sessions
factory_boy
git+git://github.com/toastdriven/django-tastypie.git@342076cf6bfacd1b8734e02e6ffe225e590114c4
gevent
django-jsonfield
# pip install --index-url https://code.stripe.com --upgrade stripe
django_compressor
python-dateutil
# Celery monitoring
flower
boto
# https://bitbucket.org/david/django-storages/issue/156/s3boto-backend-valueerror-time-data-thu-07
django-storages==1.1.6
django-countries
git+https://github.com/django/django-localflavor-us
raven
yolk
git+git://github.com/kevinastone/mixpanel-celery.git
