{% load staticfiles %}

<div id="share_modal" style="display:none;">
    <p style="font-family:'Open Sans',sans-serif;">Share this link with others:</p>
    <p class="shareUrl" style="border:solid 1px lightgray;-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;color:blue;padding-left:3px">this is the link text</p>
    <p style="font-family:'Open Sans',sans-serif;">Or,</p>
    <a class="btn btn-medium btn-primary">
        <img src="{% static 'img/f_logo.png' %}" width="16px" style="margin-bottom:2px;margin-right:4px">Share to Facebook</a>
</div>

