.navbar {
    margin-top: 10px;
}

.inner_small_right {
    padding-right: 0;
}

#brand_small {
    padding-top: 6px;
    padding-bottom: 4px;
}

.navbar_link {
    padding-left: 11px;
    padding-right: 11px;
}

.navbar_para {
    font-family: 'Open Sans', sans-serif;
    font-size:8pt;
    margin-top:7px;
}
