{% load staticfiles %}

<div class="nl_6">
	<div class="note_box">
		<p class="note_box_text">Hey you, Seriously, what am I going to do without you in my life next year...please don't move away!! You'll be missed.</p>
		<img class="note_box_image"src="{% static 'img/faces/face68.jpg' %}">
		<h6 class="note_box_name">John</h6>		
	</div>
	
	<div class="note_box">
		<p class="note_box_text">Happy New Year!!</p>
		<img class="note_box_image"src="{% static 'img/faces/face69.jpg' %}">
		<h6 class="note_box_name">Paul</h6>
	</div>
	
	<div class="note_box">
		<p class="note_box_text">What kind of trouble are we going to get into next year? You know I got a discount for 10 for $10 shots on Sundays at Moe's!</p>
		<img class="note_box_image" src="{% static 'img/faces/face70.jpg' %}">
		<h6 class="note_box_name">Larry</h6>
	</div>

    <div class="note_box">
        <p class="note_box_text">Roomie, even though you never wash your dishes, you were my favorite roommate. To many more late nights chatting in 2013!</p>
        <img class="note_box_image"src="{% static 'img/faces/face71.jpg' %}">
        <h6 class="note_box_name">Kim</h6>
    </div>

    <div class="note_box">
        <p class="note_box_text">What's up!! You already know you're the best, but I'll  tell you again anyway.</p>
        <img class="note_box_image"src="{% static 'img/faces/face72.jpg' %}">
        <h6 class="note_box_name">Matt</h6>
    </div>

    <div class="note_box">
        <p class="note_box_text">BFF since kindergarten, and nothing has changed. To another year of adventure!</p>
        <img class="note_box_image"src="{% static 'img/faces/face73.jpg' %}">
        <h6 class="note_box_name">Steph</h6>
    </div>
	
</div>

