{% load staticfiles %}

<div class="birthday_container bc_right">
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face41.jpg' %}" width="22">
		<h5>Lee</h5>	
		<p class="comment_text">Happy b-day Ethan!</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face42.jpg' %}" width="22">
		<h5>Anneka</h5>	
		<p class="comment_text">HAPPY BIRTHDAY!!!</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face43.jpg' %}" width="22">
		<h5>Matt</h5>	
		<p class="comment_text">Happy birthday ethan!</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face44.jpg' %}" width="22">
		<h5>Dustin</h5>	
		<p class="comment_text">HAPPY BIRTHDAY!</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face45.jpg' %}" width="22">
		<h5>James</h5>	
		<p class="comment_text">One year wiser!</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face46.jpg' %}" width="22">
		<h5>Stacy</h5>	
		<p class="comment_text">do something awesome today!</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face47.jpg' %}" width="22">
		<h5>Kristin</h5>	
		<p class="comment_text">HAPPY BIRTHDAY!!!</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face48.jpg' %}" width="22">
		<h5>Andrea</h5>	
		<p class="comment_text">Happy birthday ethan</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face49.jpg' %}" width="22">
		<h5>Patty</h5>	
		<p class="comment_text">happy birthday </p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face50.jpg' %}" width="22">
		<h5>Anita</h5>	
		<p class="comment_text">HAPPY BIRTHDAY ETHAN!</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face51.jpg' %}" width="22">
		<h5>Alex</h5>	
		<p class="comment_text">Happy birthday!</p>
	</div>
	
	<div class="comment">
		<img class="comment_image" src="{% static 'img/faces/face52.jpg' %}" width="22">
		<h5>Brian</h5>	
		<p class="comment_text">HAPPY BIRTHDAY!!</p>
	</div>

</div>

	<h4 class="birthday_header">120 posts on your birthday.</h4>