{% if photos_landscape and photos_portrait %}
    {% if photos_landscape|length > "1" %}
        <div class="l43_1p_2l_p21 border">
            <div class="photo p244" style="background-image:url({{ photos_portrait.0.url }});"></div>
            <div class="photo l160" style="background-image:url({{ photos_landscape.0.url }});"></div>
            <div class="photo l160" style="background-image:url({{ photos_landscape.1.url }});"></div>
        </div>
    {% elif photos_portrait|length > "1" %}
        <div class="l44_1l_2p_p21 border">
            <div class="photo l331" style="background-image:url({{ photos_landscape.0.url }});"></div>
            <div class="photo p122" style="background-image:url({{ photos_portrait.0.url }});"></div>
            <div class="photo p122" style="background-image:url({{ photos_portrait.1.url }});"></div>
        </div>
    {% else %}
        {# Use on a left-hand page #}
        {#<div class="l39_1l_1p_p21 border">#}
        {#    <div class="photo l266"></div>#}
        {#    <div class="photo p200"></div>#}
        {#</div>#}
        <div class="l40_1p_1l_p21 border">
            <div class="photo p200" style="background-image:url({{ photos_portrait.0.url }});"></div>
            <div class="photo l266" style="background-image:url({{ photos_landscape.0.url }});"></div>
        </div>
    {% endif %}
{% elif photos_portrait %}
    {% if photos_portrait|length > "2" %}
        <div class="l41_3p_p21 border">
            <div class="photo p190" style="background-image:url({{ photos_portrait.0.url }});"></div>
            <div class="photo p190" style="background-image:url({{ photos_portrait.1.url }});"></div>
            <div class="photo p190" style="background-image:url({{ photos_portrait.2.url }});"></div>
        </div>
    {% elif photos_portrait|length > "1" %}
        <div class="l42_2p_p21 border">
            <div class="photo p246" style="background-image:url({{ photos_portrait.0.url }});"></div>
            <div class="photo p246" style="background-image:url({{ photos_portrait.1.url }});"></div>
        </div>
    {% else %}
        <div class="l45_1p_p21 border">
            <div class="photo p246" style="background-image:url({{ photos_portrait.0.url }});"></div>
        </div>
    {% endif %}
{% elif photos_landscape %}
    {% if photos_landscape|length > "3" %}
        <div class="l36_4l_p21">
            <div class="photo l180" style="background-image:url({{ photos_landscape.0.url }});"></div>
            <div class="photo l180" style="background-image:url({{ photos_landscape.1.url }});"></div>
            <div class="photo l180" style="background-image:url({{ photos_landscape.2.url }});"></div>
            <div class="photo l180" style="background-image:url({{ photos_landscape.3.url }});"></div>
        </div>
    {% elif photos_landscape|length > "2" %}
        <div class="l37_3l_p21">
            <div class="photo l290" style="background-image:url({{ photos_landscape.0.url }});"></div>
            <div class="photo l142" style="background-image:url({{ photos_landscape.1.url }});"></div>
            <div class="photo l142" style="background-image:url({{ photos_landscape.2.url }});"></div>
        </div>
    {% else %}
        <div class="l38_1l_p21 border">
            <div class="photo l330" style="background-image:url({{ photos_landscape.0.url }});"></div>
        </div>
    {% endif %}
{% endif %}

<h4 class="album_name_21">{{ album_name }}</h4>


{% include 'pages/next_prev_buttons.html' %}
