body {
    margin:0;
    padding:0;
}

.googlefont {
    font-family: 'Open Sans', sans-serif;
}

.regularfont {
    font-weight:normal;
}

.floatleft {
    float:left;
}

.floatright {
    float:right;
}