.footer_background {
    /*height:100px;*/
    width:100%;
    float:left;
    padding-top:5px;
    /*margin-top: 15px;*/
    border:solid 1px lightgray;
    background-image: url('../img/divider_texture.png');
}

.footer_background_black {
    height:100px;
    width:100%;
    float:left;
    padding-top:5px;

}

.footer_column {
    width:100px;
    float:left;
    text-align:left;
    margin-right:40px;
    color:gray;
}

.footer_column>h6 {
    font-size:8pt;
    padding-bottom:1px;
    line-height: 10px
}

.footer_bottom {
    float:left;
    font-size:8pt;
    text-align:left;
    margin-top:5px;
    color:lightgray;
    font-family: 'Open Sans', sans-serif;
}
